@(data: Array[backend.scala.query.ResultListObject[backend.scala.datatypes.LineListObject]],
        displayField: List[String], sessionId: String)

@import scala.util.Try

<script src="@routes.Assets.at("javascripts/jscroll-min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/lazy-list.js")" type="text/javascript"></script>

<div class="lazyList">
    <!-- show the first 100 rows of the data.
    We also generate the session id here for this
    particular dataset-->
    @generic.dataDisplay(data, displayField, "Data OK", sessionId, 0)
</div>