@(displayConnector: Boolean)
<!-- 
The display connector variable is so that we show the dropdown
list containing the and/or options for use in chaining filters -->

<br/>
@if(displayConnector) {
    <select name="filterConnector" id="filterConnector">
        @for(field <- Static.logicalConnectors) {
            <option value="@field">@field</option>
        }
    </select>
}

Filter Field: <select name="filterField" id="filterField">
    @for(field <- Static.fieldNames) {
    <option value="@field">@field</option>
    }
</select>
Comparison Method: <select name="filterComparison" id="filterComparator">
    @for(method <- Static.comparisonMethods) {
    <option value="@method">@method</option>
    }
</select>
Comparison Value: <input type="text" name="filterValue" id="filterValue">