@(first: Boolean, form: Option[frontend.forms.GraphFormParser])

@import frontend.forms.GraphFormParser; val data = form.getOrElse(new GraphFormParser())

@if(first) {
    Graph Title: <input id="graphTitle" type="text" name="graphTitle" value="@data.title">
    Graph Type: <select id="graphType" name="graphType">
        @for(graphType <- Static.graphTypes) {
            @if(graphType == data.graphType) {
                <option selected name="graphType" id="graphType">@graphType</option>
            } else {
                <option name="graphType" id="graphType">@graphType</option>
            }
        }
    </select>
    xAxis Title: <input id="xAxis Title" type="text" value="@data.xAxisTitle">
    yAxis Title: <input id="yAxis Title" type="text" value="@data.yAxisTitle">
    Sort xAxis values by: <select id="xAxisSort" name="graphSortMode">
        @for(option <- Static.graphSortOptions) {
            @if(option == data.graphSortMode){
                <option selected name="graphSortMode" id="xAxisSort">@option</option>
            } else {
                <option name="graphSortMode" id="xAxisSort">@option</option>
            }
        }
    </select>


}
<br/>
<!-- This is not a full file because it should not be used as a full html file
    it should only be passed in parts in ajax, and should definitely be
    included in other files -->
xAxis Values: <select class="xAxis" name="xAxis">
    @for(value <- Static.fieldNames) {
        @if(value == data.xAxis) {
            <option selected name="xAxis">@value</option>
        } else {
            <option name="xAxis">@value</option>
        }
    }
</select>

yAxis Values: <select id="yAxis" name="yAxis">
@for(value <- Static.numberHeaders) {
    @if(value == data.yAxis) {
        <option selected name="yAxis">@value</option>
    } else {
        <option name="yAxis">@value</option>
    }
}
</select>

