@(formData: (List[frontend.forms.FilterFormData], List[frontend.forms.SortFormData],
        List[frontend.forms.AggregateFormData], List[frontend.forms.GraphFormParser],
        List[String]))

@import frontend.forms.DataManipulationForm

<!-- No head/body/html tags here
    because this should not be a webpage
    on it's owm. It should always be
    embedded in something else. -->

<div>
    <ul id="dataToolsHeader">
        <!-- The empty href="" is to change the pointer to the same one that is used elsewhere
        in the title bar. The link is disabled through the corresposing javascript -->
        <li><a href="" id="filterShow">Filters</a></li>
        <li><a href="" id="aggregateShow">Aggregation</a></li>
        <li><a href="" id="sortShow">Sorting</a></li>
        <li><a href="" id="graphShow">Graphs</a></li>
        <li><a href="" id="columnShow">Columns Displayed</a></li>
    </ul>
    <form action="/submitForm" method="POST" id="queryForm" name="queryForm">
        <div id="filter" class="toolDiv">
            <br/>
            <div id="filterDiv">
                @generic.helpPopup(Static.Assets.filterHelp)
                @if(formData._1.length == 0) {
                    <!-- If there is nothing passed, leave empty for the time being -->
                    <!-- formViews.filterForm(displayConnector = false, None) -->
                } else {
                    <!-- There was passed data, so we take the head and convert
                     it into a form without a logical connector -->
                    @formViews.filterForm(false, Some(formData._1.head))
                    <!-- Then we go through the remainder of the items passed
                    and fill them out correctly -->
                    @for(data <- formData._1.tail) {
                        @formViews.filterForm(true, Some(data))
                    }
                }
            </div>
            <br/>
            <ul class="submitButtonsList">
                <li><a href="" id="addFilter" name="addFilter">Add Filter</a></li>
                <li><a href="" class="submitButton" onclick="submitForm()">Search Data</a></li>
            </ul>
            <br/>
        </div>
        <div id="aggregate" class="toolDiv">
            <br/>
            <div id="aggregateDiv">
                @generic.helpPopup(Static.Assets.aggregateHelp)
                @if(formData._3.length == 0) {
                    <!-- If there is nothing passed, leave empty for the time being -->
                    <!-- formViews.aggregateForm(None) -->
                } else {
                    @for(data <- formData._3) {
                        @formViews.aggregateForm(Some(data))
                    }
                }
            </div>
            <br/>
            <ul class="submitButtonsList">
                <li><a href="" id="addAggregate" name="addAggregate">Add Aggregation</a></li>
                <li><a href="" class="submitButton" onclick="submitForm()">Search Data</a></li>
            </ul>
            <br/>
        </div>

        <div id="sort" class="toolDiv">
            <br/>
            <div id="sortDiv">
                @generic.helpPopup(Static.Assets.sortHelp)
                @if(formData._2.length == 0) {
                    <!-- If there is nothing passed, leave empty for the time being -->
                    <!-- formViews.sortForm(None) -->
                } else {
                    @for(data <- formData._2) {
                        @formViews.sortForm(Some(data))
                    }
                }
            </div>
            <br/>
            <ul class="submitButtonsList">
                <li><a href="" id="addSort" name="addSort">Add Sort</a></li>
                <li><a href="" class="submitButton" onclick="submitForm()">Search Data</a></li>
            </ul>
            <br/>
        </div>

        <div id="graph" class="toolDiv">
            <br/>
            <div id="graphDiv">
                @generic.helpPopup(Static.Assets.graphHelp)
                @if(formData._4.length == 0) {
                    <!-- If there is nothing passed, leave empty for the time being -->
                    @formViews.graphForm(true, None)
                    @formViews.graphForm(false, None)
                } else {
                    @formViews.graphForm(true, Some(formData._4.head))
                    @for(data <- formData._4) {
                        @formViews.graphForm(false, Some(data))
                    }
                }
            </div>
            <br/>
            <ul class="submitButtonsList">
                <li><a href="" id="addGraph" name="addGraph">Add Dataset to Graph</a></li>
                <li><a href="" class="submitButton" onclick="submitForm()">Draw Graph</a></li>
            </ul>
            <br/>
        </div>
        <div id="column" class="toolDiv">
            <br/>
            <div id="columnDiv">
                @generic.helpPopup(Static.Assets.columnHelp)
                @if(formData._5.length == 0) {
                    <!-- If there is nothing passed, leave empty for the time being -->
                    <!-- formViews.fieldSelect(Some(Static.noSelection)) -->
                } else {
                    @for(field <- formData._5) {
                        @formViews.fieldSelect(Some(field))
                    }
                }
            </div>
            <br/>
            <ul class="submitButtonsList">
                <li><a href="" id="addColumn" name="addColumn">Add Column</a></li>
                <li><a href="" class="submitButton" onclick="submitForm()">Search Data</a></li>
            </ul>
            <br/>
        </div>
    </form>
</div>

<script src="@routes.Assets.at("javascripts/query-form.js")" type="text/javascript"></script>