@(form: play.api.data.Form[frontend.forms.SearchFormParser])

@import frontend.forms.DataManipulationForm

<!-- No head/body/html tags here
    because this should not be a webpage
    on it's owm. It should always be
    embedded in something else. -->


<div>
    @helper.form(action = routes.Application.submitForm) {
        @helper.inputText(form("Field"))
        @helper.inputText(form("Comparison Method"))
        @helper.inputText(form("Value"))
        <button type="button" name="addOr" value="Add Or Filter">Add Or Filter</button>
        <button type="button" name="addAnd" value="Add And Filter">Add And Filter</button>

        @helper.inputText(form("Aggregate Field"))
        @helper.inputText(form("Aggregate Mode"))
        <button type="button" name="addAggregate" value="Add Aggregation">Add Aggregation</button>

        @helper.inputText(form("Sort Field"))
        @helper.inputText(form("Sort Method"))
        <button type="button" name="addSort" value="Add Sort">Add Sort</button>

        <button type="submit" name="submit" value="Parse Data">Search Data</button>

    }
</div>