@(form: play.api.data.Form[frontend.forms.SearchFormParser])

@import frontend.forms.DataManipulationForm

<!-- No head/body/html tags here
    because this should not be a webpage
    on it's owm. It should always be
    embedded in something else. -->

<script src="@routes.Assets.at("javascripts/query-form.js")" type="text/javascript"></script>

<div>
    @helper.form(action = routes.Application.submitForm) {
        <div id="filterDiv">
            @formViews.filterForm()
        </div>
        <button id="addOr" type="button" name="addOr" value="Add Or Filter">Add Filter</button>
        <br/>
        <br/>

        <div id="aggregateDiv">
            @formViews.aggregateForm()
        </div>

        <button id="addAggregate" type="button" name="addAggregate" value="Add Aggregation">Add Aggregation</button>
        <br/>
        <br/>
        <div id="sortDiv">
            @formViews.sortForm()
        </div>

        <button id="addSort" type="button" name="addSort" value="Add Sort">Add Sort</button>
        <br/>
        <br/>
        <button type="submit" name="submit" value="Parse Data">Search Data</button>

    }
</div>