/*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#header {
    background-color: darkred;
    padding-top: 0;
    margin-top: 0;
}

#header h1 {
    text-align: center;
    font-size: 2em;
    color: white;
}

#header nav {
    color: white;
    text-emphasis-style: none;
    display: table;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    width: 100%;
}

#header a {
    width: 50%;
}