table {
    border: 1px solid #000000;
    table-layout: fixed;
    width: 100%;
}

tr {
    text-align: center;
}

body {
    background-color: indianred;
}

#content {
    padding-left: 10em;
    padding-right: 10em;
}

#header {
    background-color: darkred;
}

#header>h1 {
    text-align: center;
    color: white;
}

#header>ul {
    list-style: none;
}

#footer {
     background-color: darkred;
 }

.navigationBar {
    color: white;
    font-size: 1em;
    text-emphasis-style: none;
}

.horizontalScroll {
    padding:5px;
    width: 100%;
    overflow-x:scroll;
}

.verticalScroll {
    padding:5px;
    height: 300px;
    overflow-y:scroll;
}

.scroll{
    padding:5px;
    height: 300px;
    overflow:scroll;
}

