table {
    table-layout: fixed;
    width: 100%;
}

tr {
    text-align: center;
}

body {
    background-color: indianred;
}

#content {
    padding-left: 10em;
    padding-right: 10em;
}

#header {
    background-color: darkred;
}

#header h1 {
    text-align: center;
    color: white;
}

#header ul {
    list-style: none;
    background-color: #550000;
    text-align: center;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}

#header li {
    font-size: 1.2em;
    line-height: 40px;
    display: table-cell;
    height: 40px;
    width: 50%;
}

#header a {
    background-color: #550000;
    text-decoration: none;
    display: block;
    transition: .3s background-color;
}

#header a:hover {
    background-color: darkred;
    cursor: pointer;
}

#footer {
     background-color: darkred;
}

#floatingMessageBox {
    width: 300px;
    float: left;
    display: block;
    position: absolute;
    border: 1px solid #000000;
    background: darkred;
}

.center {
    text-align: center;
}

.dataTable {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.lastDataTable {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.borderedTable {
    border: 1px solid #000000;
}

.navigationBar {
    color: white;
    font-size: 1em;
    text-emphasis-style: none;
}

.horizontalScroll {
    padding:5px;
    width: 100%;
    overflow-x:scroll;
}

.verticalScroll {
    padding:5px;
    height: 300px;
    overflow-y:scroll;
}

.scroll{
    padding:5px;
    height: 300px;
    overflow:scroll;
}

