table {
    table-layout: fixed;
    width: 100%;
}

tr {
    text-align: center;
}

body {
    background-color: indianred;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#content {
    padding-left: 10em;
    padding-right: 10em;
}

#footer {
     background-color: darkred;
}

#floatingMessageBox {
    width: 300px;
    float: left;
    display: block;
    position: absolute;
    border: 1px solid #000000;
    background: darkred;
}

#submitSessionRestore {
    width: 8em;
}

.buttonInRightBar {
    width: 8em;
}

#sessionRestoreDiv {
    top: 8em;
}

#sessionIDEntryBox {
    width: 8em;
}

#defaultSessionsBox {
    /*
     this height comes from the height of submitSessionRestore
     and the distance from the top of that box */
    top: 25em;
}

.center {
    text-align: center;
}

.formButton {
    color: white;
    background-color: #550000;
    text-decoration: none;
    display: inline-block;
    transition: .3s background-color;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.formButton:hover {
    background-color: darkred;
}

.dataTable {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.lastDataTable {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.floatingBoxRight {
    width: 8em;
    text-align: center;
    background: darkred;
    position: absolute;
    right: 0.5em;
    padding: 10px;
}

.borderedTable {
    border: 1px solid #000000;
}

.horizontalScroll {
    padding:5px;
    width: 100%;
    overflow-x:scroll;
}

.verticalScroll {
    padding:5px;
    height: 300px;
    overflow-y:scroll;
}

.scroll{
    padding:5px;
    height: 300px;
    overflow:scroll;
}

.button {
    text-align: center;
    padding: 0;
    margin: 0;
    display: table-cell;
    color: white;
    background-color: #550000;
    text-decoration: none;
    transition: .3s background-color;
}

.button:hover {
    background-color: darkred;
    cursor: pointer;
}