.toolDiv {
    background-color: darkred;
    padding-left: 20px;
    padding-right: 20px;
    /*
     * We want all the tool divs to be hidden
     * by default to prevent them flashing up as
     * the js loads
     */
    display: none;
}

.errorParagraph {
    color: #0bb282;
    font-size: 1.2em;
}

.submitButtonsList {
    list-style: none;
    background-color: #550000;
    text-align: center;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}

.submitButtonsList li {
    font-size: 1.2em;
    line-height: 40px;
    display: table-cell;
    height: 40px;
    width: 20%;
}

.submitButtonsList a {
    color: white;
    background-color: #550000;
    text-decoration: none;
    display: block;
    transition: .3s background-color;
}

.submitButtonsList a:hover {
    background-color: darkred;
}

.deleteButton {
    color: white;
    background-color: #550000;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 40px;
    float: right;
    transition: .3s background-color;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

/*
 * This is just a repeat of the above class
 * without the listeners that are set in the JS
 * when using the .deleteButton
 */
.deleteButtonWithoutListeners {
    color: white;
    background-color: #550000;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 40px;
    float: right;
    transition: .3s background-color;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.deleteButtonWithoutListeners:hover {
    background-color: darkred;
}

.deleteButton:hover {
    background-color: darkred;
}

.helpButton {
    float: right;
    color: white;
    background-color: #550000;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 150px;
    float: right;
    transition: .3s background-color;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.helpButton:hover {
    background-color: darkred;
}

#dataToolsHeader {
    list-style: none;
    background-color: #550000;
    text-align: center;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
}

#dataToolsHeader li {
    font-size: 1.2em;
    line-height: 40px;
    display: table-cell;
    height: 40px;
    width: 20%;
}

#dataToolsHeader a {
    color: white;
    background-color: #550000;
    text-decoration: none;
    display: block;
    transition: .3s background-color;
}

#dataToolsHeader a:hover {
    background-color: darkred;
}

#dataToolsHeader a.active {
    background-color: darkred;
}