@(data: Array[backend.scala.query.ResultListObject[backend.scala.datatypes.LineListObject]], headers: List[String])

@import backend.scala.datatypes.LineListObject
@import backend.scala.graphing.{Graph, BarChartData}
@import backend.scala.Backend


<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Data</title>
  <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <table>
        @for(header <- headers) {
            <th>@Html(header)</th>
        }
        @for(dataItem <- data) {
            <tr>@Html(dataItem.toHtml)</tr>
        }
    </table>
    <img src="@routes.Assets.at("images/gen/" + Backend.drawGraph(data.toList).getName)"/>
</body>
</html>