@(baseData: Array[backend.scala.query.ResultListObject[backend.scala.datatypes.LineListObject]],
        headers: List[String], form: play.api.data.Form[frontend.forms.SearchFormParser])

@import backend.scala.datatypes.LineListObject
@import backend.scala.graphing.{Graph, BarChartData}
@import backend.scala.Backend
@import scala.concurrent._
@import scala.util.{Success, Failure}
@import frontend.forms.{DataManipulationForm, FilterFormData, SortFormData, AggregateFormData}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Data</title>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" type="text/css">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jscroll-min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/double-scroll.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lazy-list.js")" type="text/javascript"></script>

</head>
<body>
    @generic.header()
    <div id="content">
        <div id="queryForm">
            @formViews.queryForm(form)
        </div>

        <div>
            <table class="borderedTable">
                @for(header <- headers) {
                    <th>@Html(header)</th>
                }
            </table>
            <div>
                @generic.lazyList(baseData)
            </div>
        </div>

        <div id="graphForm">
            @formViews.graphForm()
        </div>
        <img src="@routes.Assets.at("images/favicon.png")" id="graphDisplay">
    </div>
    @generic.footer()
</body>
</html>