@(baseData: Array[backend.scala.query.ResultListObject[backend.scala.datatypes.LineListObject]],
        headers: List[String], form: play.api.data.Form[frontend.forms.FilterFormData])

@import backend.scala.datatypes.LineListObject
@import backend.scala.graphing.{Graph, BarChartData}
@import backend.scala.Backend
@import scala.concurrent._
@import scala.util.{Success, Failure}
@import frontend.forms.{DataManipulationForm, FilterFormData, SortFormData, AggregateFormData}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Data</title>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        @formViews.queryForm(form)
    </div>
    <table>
        @for(header <- headers) {
            <th>@Html(header)</th>
        }
        @for(dataItem <- baseData) {
            <tr>@Html(dataItem.toHtml)</tr>
        }
    </table>
</body>
</html>