@(form: play.api.data.Form[frontend.forms.FilterFormData])

@import frontend.forms.DataManipulationForm

<!-- No head/body/html tags here
    because this should not be a webpage
    on it's owm. It should always be
    embedded in something else. -->


<div>
    @helper.form(action = routes.Application.submitForm) {
        @helper.inputText(form("Field"))
        @helper.inputText(form("Comparison Method"))
        @helper.inputText(form("Value"))
        <button type="submit" name="submit" value="Filter">Filter data</button>
    }
</div>